/* @media screen and (max-width: 767px) {
  .header-list,
  .contact {
    display: none;
  }
} */

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
  }

  .header > .container {
    display: flex;
  }
}
